doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 My Custom Objects
    a(href='/update-cobj') Add to this table
    table
      thead
        tr
          th Name
          th Species
          th Age
      tbody
        each record in records
          tr
            td= record.properties.name
            td= record.properties.species
            td= record.properties.age